.index .sidbar{
    box-sizing: border-box;
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 9px 0px #eee;
}


.sidbar h3 {
    margin: 0;
    text-align: center;
    color : #3fc7cc ;
}

.sidbar >div {
padding: 20px;
}

.sidbar h3::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #3fc7cc;
    transform: translate(-11px, 33px);
}


.sidbar h3::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #3fc7cc;
    border-radius: 50%;
    transform: translate(-38px, 25px);
    border: 3px white solid;
}
    


.sidbar ul{
    margin: 0px;
    padding: 12px;
    height: calc(100vh - 66px);
    overflow: auto;
    width: 100%;
}
.sidbar li a {
    font-size: 14px;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    color: black;
    margin-bottom: 7px;
    transition: 0.3s;
}

.sidbar li span{
    margin-left: 5px;
}

.sidbar li a:hover{
    background-color: hsl(184, 100%, 98%);
    color: black;
}

.sidbar ul .active {
    background-color: #3fc7cc;
    color: white;
}