/* start global rules */

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.index  {
    min-height: 100vh ;
    display: flex;
}

.content {
    width: calc(100% - 250px);
    overflow: hidden;
    height: 100vh;
}

.Body {
    background-color: #f1f5f9;
    height: calc(100vh - 33px - 1rem);
    padding: 0 1rem 1rem;
    overflow: auto;
}
.sidbar{
    height: 100vh;
    width: 250px;
}
.header{
    border-bottom: 1px solid #eee;
}