.Body h1{
    padding-top: 20px;
}
.Body .div1 {
    width: 120px;
    height: 4px;
    border-radius: 10px;
    background-image: linear-gradient( to right , black 30% , white 1%);
}

.Body .Boxs-setting { 
    margin-top: 20px   ;
    display: grid;
    grid-template-columns: repeat(2 , 550px) ; 
    grid-template-rows: repeat(4 , auto)  ;
    gap: 20px ;
    
}


.Body .Boxs-setting .slide{
    background-color: white;
    padding: 10px 15px ;
    border-radius: 13px;
    overflow: hidden;
}
.Boxs-setting .slide >p {
    color: #777;
}

.Boxs-setting .slide .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.Boxs-setting .slide .control .text p {
    color: #777;
    font-size: small;
}

.Boxs-setting .slide .control label .button {
    width: 80px;
    height: 35px;
    border-radius: 20px;
    background-color: #ccc;
    position: relative;
}


.Boxs-setting .slide textarea {
    border: 1px solid #ccc;
    resize: none;
    min-height: 150px;
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    font-size: small;
}
.Boxs-setting .slide form div label{
    display: block;
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}
.Boxs-setting .slide form div input {
    width: 100%;
    margin-bottom: 15px ;
    padding: 10px;
    border: 1px solid #eee;
    resize: none;
    border-radius: 6px;
}

.Boxs-setting .slide form :last-child input {
    display: inline;
    width:80%;
    margin-right: 10px;
}
.Boxs-setting .slide form :last-child a{
    color: #256dbe;
}



.Boxs-setting .slide .secu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px 0 ;
}

.Boxs-setting .slide hr {
    border: 0.5px #eee solid;
}

.Boxs-setting .slide .secu p {
    color: #777;
    font-size: 14px;
}

.Boxs-setting .slide .secu #button1 {
    background-color: #3379c9;
    border-radius: 5px;
    padding: 5px;
    border: none;
}
.Boxs-setting .slide .secu #button1 a{
    color: white;
}
.Boxs-setting .slide .secu #button2 {
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.Boxs-setting .slide .secu label .button {
    width: 80px;
    height: 35px;
    border-radius: 20px;
    background-color: #ccc;
    position: relative;
}
.Boxs-setting .slide .secu label input {
    appearance: none;
    -webkit-appearance: none;
}
.Boxs-setting .slide .secu label .button::before{
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    content: "\f00d";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #ccc;
    background-color: white;
    bottom: 5px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}


.Boxs-setting .slide .secu label input:checked + .button{
    background-color:#256dbe ;
}
.Boxs-setting .slide .secu label input:checked + .button::before{
    font-family: var(--fa-style-family-classic);
    position: absolute;
    content: "\f00c";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #256dbe;
    background-color: white;
    bottom: 5px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}

*:focus {
    outline: none;
}

.Boxs-setting .slide .social i {
    color: #777;
}

.Boxs-setting .slide .social .username{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
}

.Boxs-setting .slide .social .username .i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: 0.3s;
}
.Boxs-setting .slide .social .username input {
    height: 40px;
    padding-left: 10px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 0 6px 6px 0; 
    width: 100%;
}
.Boxs-setting .slide .social  > .username:focus-within i {
    color: black;
}

.Boxs-setting .slide .widg div{
    margin-bottom: 5px;
    padding: 5px;
    font-size: 16px;
}


.Boxs-setting .slide .backup div{
    margin-bottom: 10px;
    font-size: 16px;
}

.Boxs-setting .slide .manger {

padding-top: 20px;
text-align: center;
}



