.index .header{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.index .header .search{
    position: relative;

}

.index .header .icons {
    display: flex;
    align-items: center;

}
.index .header .icons .notiv {
    position: relative;
    font-size: 20px;

}

.index .header .icons .notiv::before {
    content: "";
    background-color: #3fc7cc;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -6px;
    right: -4px;
    position: absolute;
}
.index .header .icons  img {
    margin: 0 15px;
    width: 30px;
}

