.index .header{
    margin-left: 15px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.index .header .search{
    position: relative;

}

.index .header .search::before {
    position: absolute;
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    color: #ccc;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.index .header .search input {
    font-size: 12px;
    height: 30px;
    width: 160px;
    color: #777;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    transition: width 0.3s;
}


.index .header .search input:focus{
    width: 200px;
}

.header .search input:focus::placeholder {
    opacity: 0;
  }

.index .header .icons {
    display: flex;
    align-items: center;

}
.index .header .icons .notiv {
    position: relative;
    font-size: 20px;

}

.index .header .icons .notiv::before {
    content: "";
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -6px;
    right: -6px;
    position: absolute;
}
.index .header .icons  img {
    margin: 0 15px;
    width: 30px;
}