.lay   {
    width : 410px; 
    height : 400px ;
    position : absolute;
    left : 50% ;
    top : 50% ;
    transform : translate(-50% , -50%) ;
    border : 1px solid #eee ;
    border-radius : 10px;
    padding : 40px ;
    box-shadow : 1px 1px 20px 0px #eee ;
    text-align: center;
}

form lable {
    font-weight: bold;
}

.inp p {
    font-size: 13px;
}

.inp .Log {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    font-size: 19px;
}

.inp .Log .ico {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}